################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeleMed-api-backend
/Telemed/.vs/Telemed
